<div class="sidebar position-fixed bottom-0 left-0 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
	<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
		<svg class="bi me-2" width="40" height="32">
			<use xlink:href="#bootstrap"></use>
		</svg>
		<span class="fs-4">Downloads</span>
	</a>
	<hr>

	<div class="dropdown py-2">
		<a href="#" class="d-flex gap-2 align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" @click="isOpen = !isOpen" aria-expanded="false">
			<img src="/lib/tpl/dokuwiki/public/img/countries/at.svg" alt="" width="24" height="24" class="mr-2">
			<strong>Deutsch</strong>
		</a>
		<ul x-show.important="isOpen" @click.away="isOpen = false" class="dropdown-menu dropdown-menu-dark text-small shadow">
			<li>
				<a class="dropdown-item" href="#">New project...</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">Settings</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">Profile</a>
			</li>
			<li><hr class="dropdown-divider"></li>
			<li>
				<a class="dropdown-item" href="#">Sign out</a>
			</li>
		</ul>
	</div>
	<div id="react-tree"></div>


</div>
